body{
     background-image: url("pg.png");
     background-size: cover;
    text-shadow: 2px 2px 4px white;
    width:100%;
    margin: auto;
    opacity: 0.9;
}
.nav{
    

}
#log{
    font-size: 50px;
    font-weight: bold;
    color: #f4f2f8;
    font-family: Arial;
    float: left;

}
.top-left-nav{
    float: left;
    list-style-type: none;
    width: 500px;
    padding: 10px;
}

.top-left-nav li,.top-right-nav li{
    display: inline-block;
    margin-top: 0;
    padding: 10px;
}
.top-left-nav li a,.top-right-nav li a {
    text-decoration: none;
    color: darkblue;
    border: 1px solid;
    padding: 10px;
    background-color:white;
}
#active   {
    background:darkblue;
    color:black;
}
.top-left-nav li a:hover,.top-right-nav li a:hover{
 background: darkblue;
 color:black;}

.top-right-nav{
    float: right;
    list-style-type: none;
}
.main-content{
    width: 100%;
    min-height: 500px;
    max-width: auto;
    clear: both;
    background: white;
    background-size: 100px;
    margin-bottom: 10px;
    opacity: 0.9;
    padding: 10px;
}

.main-content h1{
    font-family: Arial;
    font-size: 80px;
    text-align: center;
    padding-top: 50px;


}
.post {
    width: 95%;
    margin: 20px;
    background: rgb(246, 246, 248);
}

.post img {
    width: 140px;
    height: 140px;
    float: left;
    padding: 5px;
}
.post content h2,p{
    color: #fcf9f9;
    font-family: Arial;
    padding: 10px;
}
#about-img{
    width: 300px;
    height: 300px;
    float: left;
    margin-top: 100px;
    margin-left: 50px;
}
.about-content{
    float: left;
    height: 300px;
    border-left : 2px solid darkblue;
    margin-top: 100px;
    margin-left: 50px;
    padding-left: 10px;
}
.about-content h2,p{
    font-family: Arial;
    color: black;
}
.logo-login {
    padding: 0;
    padding-top: 100px;
    width: 100px;
    height: 400px;
    margin: auto;
}
.logo-login img{
    width: 100px;
    height: 100px;
}
.form {
    width: 500px;
    margin: auto;
    margin-top: 30px;
}
.form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
.form  button {
    background: darkblue;
    color: white;
    padding: 10px;
    border: 2px solid;
    cursor: pointer;
}
.form  button:hover {
    opacity: 0.7;
}
.logo-signup {
    padding: 0;
    padding-top: 100px;
    width: 200px;
    height: 500px;
    margin: auto;
}
.logo-signup img{
    width: 100px;
    height: 100px;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: white;
    color: black;
}

 h3 {
    margin: 0;
 }
.footer1{
    width: 320px;
    float: left;
     border-right: 2px solid;
}
.footer2{
    width: 320px;
    float: left;
    padding-left: 2px;
   border-right: 2px sol;
}


.footer3{
    width: 320px;
    float: left;
    padding-left: 20px;
}
.footer3 input,textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid darkblue;
}
.footer3 button{
    background: darkblue;
    color: white;
    padding: 5px;
    border: 2px;
}





